<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" 
	layout:include="fragments/page :: page(
		header=true,
		title='Silos',
		js='silo',
    	css='cadastro/silo'
	)">
	<main layout:fragment="content">
		<form class="form-horizontal col-md-4 col-md-offset-4 form-silo" id="silo-form">
			<fieldset>
				<legend>Cadastro de Silos</legend>
				
				<small th:text="'Usuário: ' + ${userEmail}"></small>
				
				<div class="form-group">
					<label class="col-md-5 control-label">Fazenda</label>
					<div class="col-md-7">
						<select class="form-control" name="farmId">
							<option th:each="farm : ${farms}" th:value="${farm.id}" th:text="${farm.name}" />
						</select>
					</div>
				</div>
		
				<div class="form-group">
					<label class="col-md-5 control-label">Região</label>
					<div class="col-md-7">
						<input type="text" name="region" placeholder="Região" class="form-control input-md">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-5 control-label">Tamanho em centímetros</label>
					<div class="col-md-7">
						<input type="text" name="size" placeholder="Tamanho (cm)" class="form-control input-md">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-5 control-label">Capacidade em kilos</label>
					<div class="col-md-7">
						<input type="text" name="capacity" placeholder="Capacidade (Kg)" class="form-control input-md">
					</div>
				</div>
			</fieldset>	
			<div class="form-group button-box">
				<div class="col-md-12">
					<input type="submit" value="Cadastrar" class="btn btn-success pull-right"/>
				</div>
			</div>
		</form>
    </main>
</html>