<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" 
	layout:include="fragments/page :: page(
		header=true,
		title='Silos',
		js='silo',
    	css='cadastro/silo'
	)">
	<main layout:fragment="content">
		<div class="form-horizontal col-md-4 col-md-offset-4 form-silo">
			<fieldset>
				<legend>Cadastro de Silos</legend>
				<span class="col-md-12 text-center title">Escolha um usuário para prosseguir</span>
				<div class="form-group">
					<label class="col-md-3 control-label">Usuário</label>
					<div class="col-md-9">
						<select class="form-control" id="user">
							 <option th:each="user : ${users}"
                             		th:value="${user.id}"
                             		th:text="${user.email}" />
						</select>
					</div>
				</div>
			</fieldset>
			<div class="form-group button-box">
				<div class="col-md-12">
					<button class="btn btn-success pull-right next-page">Prosseguir</button>
				</div>
			</div>
		</div>
    </main>
</html>