<!DOCTYPE html >
<html xmlns:layout="http://www.thymeleaf.org" 
      xmlns:th="http://www.thymeleaf.org" 
      layout:fragment="page">
<head>
    <title th:text="'GrainCare | ' + ${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/page.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:if="${css}" th:href="'/css/' + ${css} + '.css'"/>
    
    <script src="/vendor/js/jquery-3.1.1.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/header.js"></script>
    <script th:if="${js}" th:src="'/js/' + ${js} + '.js'"></script>
</head>
<body>
<!-- th:if="${header} == true" -->
    <div th:include="fragments/header :: header(visible=${header})" th:remove="tag"></div>
    <div layout:fragment="content" class="page"></div>
</body>
</html>
